# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
db.sqlite3

# celery beat schedule file
celerybeat-schedule


# Environments
.env
venv/

media/
